ASTRA_DB_ID=650cf62d-6a3e-4365-8232-e5e51018762e-1
ASTRA_DB_REGION=us-east1
ASTRA_DB_KEYSPACE=macrofit_tracker
ASTRA_DB_APPLICATION_TOKEN=AstraCS:nJdHmDHPPGZqPwEuWHAMPYOh:936a1254fb6c58f29328498cdd4cca6b15aec4dd1f8d2077c023b029b63ae103
SECURE_BUNDLE_PATH=secure-connect-macrofit-trackerdb.zip

JWT:
JWT_SECRET="mi_clave_secreta_123"
